## Deliverable 3. Create a Travel Itinerary Map.

In [8]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [9]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,6,butaritari,KI,82.40,few clouds,3.0707,172.7902,Isles Sunset Lodge
1,7,bubaque,GW,77.02,clear sky,11.2833,-15.8333,"Casa Dora, Bubaque"
2,9,cairns,AU,79.11,light rain,-16.9167,145.7667,Mantra Trilogy Cairns
3,10,acajutla,SV,81.97,few clouds,13.5928,-89.8275,Laureles
4,11,faanui,PF,82.18,clear sky,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa

In [10]:
vacation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_ID              186 non-null    int64
 1   City                 186 non-null    object
 2   Country              186 non-null    object
 3   Max Temp             186 non-null    float64
 4   Current Description  186 non-null    object
 5   Lat                  186 non-null    float64
 6   Lng                  186 non-null    float64
 7   Hotel Name           170 non-null    object
dtypes: float64(3), int64(1), object(4)
memory usage: 11.8+ KB

In [14]:
clean_vacation_df = vacation_df.dropna()
clean_vacation_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 170 entries, 0 to 185
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_ID              170 non-null    int64
 1   City                 170 non-null    object
 2   Country              170 non-null    object
 3   Max Temp             170 non-null    float64
 4   Current Description  170 non-null    object
 5   Lat                  170 non-null    float64
 6   Lng                  170 non-null    float64
 7   Hotel Name           170 non-null    object
dtypes: float64(3), int64(1), object(4)
memory usage: 12.0+ KB

In [15]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_vacation_df[["Lat", "Lng"]]

In [16]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = clean_vacation_df.loc[clean_vacation_df["City"] == "geraldton"]
vacation_end = clean_vacation_df.loc[clean_vacation_df["City"] == "geraldton"]
vacation_stop1 = clean_vacation_df.loc[clean_vacation_df["City"] == "port hedland"]
vacation_stop2 = clean_vacation_df.loc[clean_vacation_df["City"] == "howard springs"]
vacation_stop3 = clean_vacation_df.loc[clean_vacation_df["City"] == "cairns"]

In [21]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]

In [22]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
travel_route = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING" or "BICYCLING" or "WALKING")
fig.add_layer(travel_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,411,geraldton,AU,79.21,scattered clouds,-28.7667,114.6000,Broadwater Mariner Resort
1,185,port hedland,AU,87.85,broken clouds,-20.3167,118.5667,The Esplanade Hotel
2,508,howard springs,AU,87.82,broken clouds,-12.4970,131.0470,buffalo beach hostel
3,9,cairns,AU,79.11,light rain,-16.9167,145.7667,Mantra Trilogy Cairns

In [28]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
itinerary_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [34]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=itinerary_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))